.App {
  text-align: center;
  background-color: #eeeeee;
}

.App__logo {
    animation: App-logo-spin infinite 20s linear;
    position: relative;
    top: 5px;
}

.App__header {
  background-color: darkred;
  height: 8rem;
  padding: 2rem;
  color: white;
}

.content--main {
    margin-top: 1rem;
    color: "#333";
    display: flex;
    height: calc(100vh - 13rem);
}

.App__title {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.poofoo {
    color: darkgray;
    font-style: italic;
    font-size: 1.35rem;
}

footer {
    background-color: white;
    text-align: center;
    height: 4rem;
    width: 100%;
    border: 1px solid lightgrey;
    padding: 1rem 0 0;
}

.sidebar {
    margin-right: 1rem;
    background-color: white;
    min-width: 25rem;
    width: 25rem;
    overflow: auto;
}

@media (min-width: 900px) {
    .sidebar {
        min-width: 30rem;
        width: 30rem;
    }
}

.sidebar__header {
    padding: 2rem 0 1rem;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

.sidebar__header__title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.sidebar__header__add {
    font-size: 1.75rem !important;
    flex-grow: 1;
    margin: 0 1rem;
}

.sidebar__sitelist {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.sitelist__item {
    flex-grow: 1;
    padding: 0.6rem 1rem 0.6rem 0;
    border-left: 4px solid transparent;
    color: black;
    display: flex;
    flex-direction: row;
    text-overflow: ellipsis;
    align-items: center;
}

.sitelist__item--active {
    border-left: 4px solid lightcoral;
}

.sitelist__item__title {
    flex-grow: 1;
    font-style: italic;
    font-size: 1.35rem;
    font-weight: bold;
    padding: 0 1rem 0 0.5rem;
    line-height: 4rem;
    cursor: pointer;
}

.sitelist__item__edit {
    margin-right: 0.25rem;
    padding: 0px 1.05rem 0.5rem 0.8rem !important;
    font-size: 1.75rem;
    height: 4rem;
}

.sitelist__item__delete {
    background-color: red !important;
    padding: 0.5rem 1.1rem !important;
    font-size: 1.75rem;
    height: 4rem;
}

.sitelist__item__delete:hover {
    background-color: coral !important;
}

.main-panel {
    background-color: white;
    flex-grow: 1;
    overflow: auto;
}

.btn {
    background-color: lightcoral;
    border: 1px solid darkred;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

.btn:hover {
    background-color: coral;
}

.main-panel__error {
    margin: 4rem;
    font-size: 2rem;
    color: red;
    font-weight: bold;
}

.main-rss {
}

.main-rss__header {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    background-color: #f3f3f3;
}

.main-rss__header__image {
    height: 3rem;
    margin-top: 0.5rem;
    margin-right: 1rem;
}

.main-rss__description {
    font-size: 1.8rem;
    font-style: italic;
    padding: 0 2rem 2rem;
    background-color: #f3f3f3;
    margin-bottom: 2rem;
    border-bottom: 1px solid #666;
}

.rss__item {
    padding: 0 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rss__item__link { /* Also a title */
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: lightcoral;
    font-weight: bold;
    text-decoration: none;
    font-variant: small-caps;
}

.rss__item__link:hover {
    color: orange;
}

.rss__item__time {
    font-style: italic;
    font-size: 1.2rem;
    color: darkgrey;
    padding-bottom: 1rem;
}

.rss__item__description {
    color: black;
    font-size: 1.35rem;
}

.editor {
    flex-grow: 1;
}

.editor__title {
    font-size: 2.5rem;
    margin: 2rem 1rem 1rem;
}

.editor__form {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.editor__form input {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border: 1px solid grey;
    border-radius: 5px;
}

.editor__form div {
    margin-top: 1rem;
}

.editor__form button {
    font-size: 2rem;
    margin: 0 0.5rem;
}

.btn--secondary {
    background-color: darkgrey;
}

.error {
    color: #e33;
    margin-bottom: 1rem;
}