* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #ddd;
  font-size: 1rem;
}

.hidden {
    display: none;
}
