.main-panel {
    background-color: white;
    overflow: auto;
    grid-area: main;
    transition: transform 0.3s;
    transform: translateX(0);
}

@media screen and (max-width: 639px) {
    .main-panel__with-sidebar {
        transform: translateX(100vw);
    }

    .main-rss__header__title {
        font-size: 1.75rem !important;
        max-width: 70%;
    }

    .rss__item__link { /* Also a title */
        font-size: 1.6rem !important;
    }
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
    .main-panel__with-sidebar {
        transform: translateX(26rem);
        width: calc(100vw - 26rem);
    }
}

@media screen and (min-width: 1024px) {
    .main-panel__with-sidebar {
        transform: translateX(30rem);
        width: calc(100vw - 30rem);
    }
}


.main-panel__error {
    margin: 4rem;
    font-size: 2rem;
    color: red;
    font-weight: bold;
}

.main-panel__welcome {
    margin-top: 2.1rem;
    text-align: center;
    font-size: 2rem;
    color: #39a0bf;
}

.main-rss__header {
    display: flex;
    justify-content: center;
    padding: 1.8rem 0;
    background-color: #f3f3f3;
    min-height: 6.2rem;
    border-bottom: 1px solid #b4b3b3;
    margin-bottom: 1.5rem;
    font-variant: small-caps;
    position: sticky;
    top: 0;
}

.main-rss__header__title {
    font-size: 2rem;
    display: inline-block;
    color: #39a0bf;
    margin-top: auto;
    margin-bottom: auto;
}

.main-rss__header__image {
    height: 2.5rem;
    margin-right: 0.5rem;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

.main-rss__header__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    margin-right: 0.5rem;
    color: #39a0bf;
}

.main-rss__header__icon i {
    font-size: 1.5rem;
}

.main-rss__description {
    font-size: 1.35rem;
    font-style: italic;
    padding: 0 2rem 1rem;
    background-color: #f3f3f3;
    margin-bottom: 2rem;
    color: #5f5f5f;
    border-bottom: 1px solid #b4b3b3;
    font-weight: normal;
}

.rss__item {
    padding: 0 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rss__item__link { /* Also a title */
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: lightcoral;
    font-weight: bold;
    text-decoration: none;
    font-variant: small-caps;
}

.rss__item__link:hover {
    color: orange;
}

.rss__item__time {
    font-style: italic;
    font-size: 1.2rem;
    color: darkgrey;
    padding-bottom: 1rem;
}

.rss__item__description {
    color: black;
    font-size: 1.35rem;
}